
.error {
    border: 1px solid #950B02;
}

.mjs-cloak {
    visibility: hidden;
}

.chat {
    height: 400px;
    overflow: auto;
}

.chat div {
    border-bottom: 1px solid #ccc;
}

form input {
    box-sizing: border-box;
    width: 80%;
    margin-top: 5px;
}

form input:first-child {
    width: 19%;
}

form input:last-child {
    width: auto;
}