
.tags {
    list-style: none;
    padding-left: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.item {
    border: 1px solid #ccc;
    background-color: #4271ae;
    color: #fff;
    padding: 5px;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform:  translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform:  translateX(0) translateY(0);
}

.tags.floated {
    width: 200px;
    padding: 0 10px 10px 0;
}

.list .item {

}

.floated .item {
    margin: 10px 0 0 10px;
    float: left;
}



.mjs-enter-active, .mjs-leave-active {
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    -o-transition:   -o-transform: 0.4s, opacity 0.4s;
    transition:  transform 0.4s, opacity 0.4s;
}

.mjs-enter {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
}
.mjs-leave {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.mjs-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.mjs-leave-active {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
}

.mjs-move-active {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition:   -o-transform: 0.4s;
    transition:  transform 0.4s;
}
